.nav-custom-style {
  background-color: rgb(49, 49, 155);
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  a {
    color: #fff;
    font-size: 13px;
  }
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  margin-right: 8px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.25rem;
}

.modal-custom-style {
  margin-top: 140px;
}

.body-content-area {
  margin-top: 90px;
}

.img-dimesion {
  height: 65px;
  width: 130px;
}

#row-custom-style {
  margin-right: 0px;
}

.sticky {
  top: 30px;
  box-shadow: 0px 2px 4px 1px #bcb5b5;
}

@media screen and (max-width: 960px) {
  .sticky {
    top: 0px;
    box-shadow: 0px;
  }
}

.logo-box {
  background: #fff;
  position: relative;
  box-shadow: 0px 2px 4px 1px #bcb5b5;
}

.nav-bar-padding {
  padding: 20px;
}

#navbarSupportedContent .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 1.5rem;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.welcome-heading-style {
  padding: 50px 120px 10px 50px;
  h2 {
    font-size: 21px;
  }
  .company-name {
    font-weight: 100;
    color: rgb(49, 49, 155);
  }
  .welcome-note {
    font-weight: bold;
    color: #070707;
  }
}

.side-bar-style {
  padding: 10px 0px 0px 30px;
  background-color: rgb(49, 49, 155);
  color: #fff;
  p {
    margin: 0px;
  }
}

.side-bar-inner-style {
  padding: 15px 20px;
  border-bottom: 1px solid #fff;
}

.side-bar-inner-last-style {
  padding: 15px 20px;
}

.custom-side-bar-style {
  padding-right: 0px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;

  border-bottom: 11px solid #eee;
  border-top: 9px solid #eee;
  background-size: 100% 100%;
}

.side-title {
  font-weight: bold;
  font-size: 13px;
}

.main-content-area {
  padding: 50px 10px 50px 10px;
  h2 {
    font-size: 21px;
  }
  .page-name {
    font-weight: bold;
    color: rgb(49, 49, 155);
  }

  canvas {
    margin: 50px 0px;
  }

  table {
    tr {
      font-size: 12px;
      .to-style {
        color: rgb(49, 49, 155);
        font-weight: bold;
      }

      .dot {
        height: 7px;
        width: 7px;
        margin-right: 5px;
        border-radius: 50%;
        display: inline-block;
      }

      .dot-loading {
        background-color: #ffde07;
      }

      .dot-enroute {
        background-color: #6262d3;
      }

      .dot-delivered {
        background-color: #14e914;
      }
      .dot-pending {
        background-color: #bcb8b8;
      }

      .dot-cancelled {
        background-color: #e56666;
      }
      .table-heading {
        border-bottom: 2px solid rgb(49, 49, 155);
        border-top: 0px;
        color: rgb(49, 49, 155);
      }
    }
  }
}

.footer-custom-style {
  background-color: gray;
  padding: 50px 100px;
  color: #fff;
  .footer-heading {
    font-weight: bold;
    font-size: 16px;
  }
  .footer-paragraph {
    font-size: 12px;
    padding-right: 125px;
  }

  .list-padding-bottom {
    padding-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .footer-custom-style {
    padding: 25px 50px;
    .footer-paragraph {
      padding-right: 25px;
    }
  }
}
